html, body {
    background-image: linear-gradient(to bottom, rgba(64,81,102,1) 0%, rgba(101,111,111,1) 100%);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.alagupfp {
    margin: 10px auto 20px;
    display: block;
    border-radius: 50%;
}

.alagu {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
     
}

.button {
    display: inline-block;
    border-radius: 50px;
    background-image: linear-gradient(to bottom, rgba(64,81,102,1) 0%, rgba(101,111,111,1) 100%);
    border: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 150px;
    cursor: pointer;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  footer{
      text-align: center;
      padding: 3px;
      background-color: rgba(101,111,111,1) 100%;
      color: white;
  }

.container {
    height:200px;
    position: relative;
    border: 3px solid green
}

.vertical-center {
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.name {
    text-align: center;
    font-size: 50px;
}

.subtitle {
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    font-weight: bold;
    animation: fadeIn ease 5s
}

.typewriter {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.typewriter-text {
    display: block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 50px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 40% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }


}